variables:
- name: counterKey
  value: $[format('{0}.{1}', variables['VERSION_CORE'], variables['Build.SourceBranchName'])]
- name: ReleaseCounter
  value: $[counter(variables['counterKey'], 1)]

pool:
  vmImage: windows-2019

steps:
- task: FileContenttoVariable@2
  inputs:
    FilePath: 'version.core'
    VariableName: 'version_core'
    AddNewlines: false

- powershell: |
    Write-Host "##vso[task.setvariable variable=nugetVersion]$($Env:version_core)-preview$($Env:ReleaseCounter)"
  displayName: 'Set pre-release version' 
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'prerelease'))

- powershell: |
    Write-Host "##vso[task.setvariable variable=nugetVersion]$($Env:version_core)-CI-$($Env:ReleaseCounter)"
  displayName: 'Set CI version' 
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'dev'))

- powershell: |
    Write-Host "##vso[task.setvariable variable=nugetVersion]$($Env:version_core)"
  displayName: 'Set release version' 
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'master'))

- task: knom.vsts-debughelper-tasks.print-env-task.print-env-task@1
  displayName: 'Inspect Environment Variables'

- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: test
    configuration: release
    projects: 'Graph.Community.sln'

- task: DotNetCoreCLI@2
  displayName: 'dotnet pack'
  condition: and(succeeded(), ne(variables['Build.SourceBranchName'], 'merge'))
  inputs:
    command: pack
    verbosityPack: 'Normal'
    configuration: release
    projects: 'Graph.Community.sln'
    versioningScheme: byEnvVar
    versionEnvVar: nugetVersion 

- task: PublishBuildArtifacts@1
  displayName: 'Publish artifacts'
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'dev'))
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'package'
    publishLocation: 'Container'

- task: NuGetCommand@2
  condition: and(succeeded(), or(eq(variables['Build.SourceBranchName'], 'prerelease'),eq(variables['Build.SourceBranchName'], 'master')))
  displayName: 'NuGet push'
  inputs:
    command: push
    packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
    nuGetFeedType: external
    publishFeedCredentials: NuGet

